*{
    margin: 0px;
    padding: 0px;
    font-family: lato;
    color: black;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 1.3rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom:30px;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
}
#logo{
    gap: 1rem;
    align-items: center;
}
#logo a{
    font-family: 'Cabin', sans-serif;
    color: rgba(22, 22, 22, 1);
    font-size: 1.5rem;
}
header ul{
    display: flex;
    gap:1rem;
}
header img{
    width: 1.5rem;
    height: auto;
}
#logo img{
    height: 1.2rem;
    width: auto;
    
}
#logo{
    display: flex;
    text-align: center;
}


#sectioncapa img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#inforcoesiniciais{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-bottom: solid 0.5px rgba(165, 161, 161, 1);
    text-align: center;
    margin-bottom: 3rem;
}
#inforcoesiniciais h2{
    font-size: 1.2rem;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 5rem;
}
#produtos img{
    max-width: 100%;
    min-width: 50%;
}
.button{
    background: rgba(92, 167, 32, 1);
    border: none;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    font-size: 0.5rem;
    margin-left: -4px;
}
span{
    color: rgba(92, 167, 32, 1);
    font-size: 1.3rem;
}

hr{
    color:#A5A1A1;
}
#sectionfooter{
    height: 60vh;
    margin-top: 4rem;
    background: #F9F9F9;
}
#divsuperior{
    display: flex;
    height: 50vh;
}
#divsuperior>div{
    width: 50%;
}
#listafooter{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
#listafooter ul{
   margin-left: 4rem
}
#listafooter li{
    margin-bottom: 1rem;
}

#email{
    border: none;
    padding: 0.8rem;
    width: 22rem;
}
.button{
    border: none;
    padding: 0.8rem;
    font-size: 15px;
    width: 10rem;
}
#divinferior{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: #F9F9F9;
}
#divinferior div{
    display: flex;
    align-items: center;
}
#divinferior img{
    height: 2rem;
    width: auto;
}
#divinferior div{
    display: flex;
    gap: 1rem;
}
#divinput{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#divflex{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
}
#divflexflex{
    display: block;
}
#divflexflex h2{
    margin-bottom: 1rem;
}


/* #divflex{
    display: flex;
    align-items: center;
} */
@media(max-width:900px){
 .flex-items{
     width: 150px;
     height: auto;
 }
 .flex-container{
    gap: 1;
    margin-left: 2rem;
    margin-right: 2rem;
 }
 
 #inforcoesiniciais{
     padding-left: 2rem;
     padding-right: 2rem;
 }
 header{
     padding-left: 2rem;
     padding-right: 2rem;
 }
 #divsuperior{
    display: block;
 }
 #divsuperior>div{
    width: 100%;
    height: 50%; 
}
#divinput{
    display: block;
}
#divinput div{
    width: 100%;
} 
#divinput div{
    /* padding-left: 1rem;
    padding-right: 1rem; */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#divinput h2{
    padding-left: 2rem;
    font-size: 1.3rem;
}
#divinferior img{
    height: 1.3rem;
    width: auto;
    
}
#divinferior >div{
    display: flex;
    gap: 1rem;
}
#email{
    border: none;
    padding: 0.8rem;
    
    width: 73%;
}
.button{
    border: none;
    padding: 0.8rem;
    width: 80%;
    font-size: 15px;
}
#divflex{
    display: block;
    padding: 0px;
}
#divflexflex h2{
    margin-left: 2rem;
}
#listafooter ul{
    margin-left: 2rem
 }
 span{
    
    font-size: 1.2rem;
}
}


/* @media(max-width:550px){
    .flex-items{
        width: 130px;
        height: auto;
    }
    .flex-container{
       gap: 1;
    }
}
*/
@media(max-width:550px){
    .flex-items{
        width: 100px;
        height: auto;
    }
    .flex-container{
        gap: 2rem;
    }
} 
@media(max-width:310px){
    .flex-items{
        width: 100px;
        height: auto;
    }
    .flex-container{
        justify-content: center;
        gap: 1;
    }
} 